@import './base.css';
@import './keyframes.css';

#app {
  font-weight: normal;
}

.object-fit {
    object-fit: cover;
    object-position: center;
}

.display-status:hover > .board-info {
    display: inline-block;
}

.animation-50-3pic {
    animation-name: translateBackground-50-3pic;
    /* animation-delay: 1s; */
    animation-duration: 0.2s;
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
    animation-timing-function: steps(1);
}

.animation-50-4pic {
    animation-name: translateBackground-50-4pic;
    /* animation-delay: 1s; */
    animation-duration: 1.5s;
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
    animation-timing-function: steps(1);
}

.animation-100 {
    /* animation: translateBackground 1.0s steps(10) infinite; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: translateBackground-100;
    animation-duration: 2.0s; /** specify duration before and after*/
    /* animation-iteration-count: infinite; */
    animation-timing-function: steps(10);
}

.animation-100-04-2-infinite {
    animation-name: translateBackground-100;
    animation-duration: 0.4s; /** specify duration before and after*/
    animation-iteration-count: infinite;
    animation-timing-function: steps(2);
}

.skill-3pic {
  animation-name: skill-3pic;
  animation-duration: 0.4s; /** specify duration before and after*/
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

.left-100 {
  left: 100px !important;
}

.left--100 {
  left: -100px !important;
}

.flip-horizontal {
  transform: scaleX(-1);
}

/* width */
.scrollbar::-webkit-scrollbar {
  width: 4px;
  border-radius: 50%;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #ffffff69; 
  border-radius: 4px;
}
 
/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #5d9cf1;
  border-radius: 4px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5d9cf8; 
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
}
